body {
	background-image: url("/assets/images/background-image.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: white;
}

.login {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}

.login:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	margin: -20px;
}

.navbar-topcss {
	margin-top: -25px;
}

.valid {
	display: none;
}

.invalid {
	color: red;
}

.invalid:before {
	position: relative;
	left: -10px;
	content: "x";
}

.errorblock {
	color: red;
	border: 1px solid red;
	border-radius: 5px;
	padding: 10px;
}

.linkbutton {
	background-color: inherit;
	border: none;
	color: black;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	font-family: fantasy;
}

.linkbutton:hover {
	text-decoration: none;
	color: #ea9a00;
}

.search-bar {
	border: 0px;
	outline:0;
	box-shadow: none; 
	background: rgba(255, 255, 255, 0); 
	border-radius: 0px; 
	border-bottom: 2px solid black; 
	color: white;
}

.search-bar:hover, .search-bar:focus {
	border: 0px;
	outline:0;
	box-shadow: none; 
	background: rgba(255, 255, 255, 0); 
	border-radius: 0px; 
	border-bottom: 2px solid #ea9a00; 
	color: white;
}